/* Global styles */


body {
    font-size:14px;
    overflow: scroll;
}

* {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}



.parallax-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

}

.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
}


.container {
    max-width: 100%;
    margin: 10px 0;
    padding: 0 20px;


}

h1,
h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}

.city {
    font-size: 50px;
}

/* Styles for individual forecast items */
.day {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    position: relative;
    width: calc(17% - 20px);
}



/* Apply styles to the hourly forecast dropdown */
.hourly-forecast {
    display: none;
    position: fixed;
    left: 0px;
    max-width: calc(100vw - 20px);
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    padding: 10px;

}

/* Show the hourly forecast when hovering over .day */
.day:hover .hourly-forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



.day:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.day:hover:before,
.day:hover:after {
    width: 100%;
    height: 100%;
}

.day:before,
.day:after {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.day:hover:before {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.day:hover:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}



.hour {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img.weather-icon {
    width: 50px;
    height: 50px;
}

.weather-info {
    margin-top: 10px;
}

.weather-info p {
    margin: 5px 0;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0px;
}